---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/**
 * Codeblock.
 */

pre.highlight {

  padding: 8px 12px;
  position: relative;


  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }


  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      background-color: #222;
      font-size: 18px;
    }
  }


  // copy code to clipboard
  .copy {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }


  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }

}

code {
    white-space: pre;
    width: 100em;
}
